@import url(http://fonts.googleapis.com/css?family=Raleway);
body{
background-color: #DE5842
}
.header{
background-color: #DE5842;

}
.user{
 width: 200px;
 height: 200px;
 background-image: url("/img/me2.jpg");
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 border: 2px solid #EDEDEA;
 margin-left: auto;
 margin-right: auto;
 background-position-x:14;
}
.title h1{
font-family: 'Raleway', sans-serif;
color: white;
text-align: center;
font-size: 70px;
font-weight:200;
-webkit-font-smoothing:antialiased;

}
.social a{
	color: #BFE1BF;
	padding-right: 10px;
}
.social a:hover{
	color: #FCD059;
}
.social{
	margin-top: 30px;
	text-align: center;
}
.footer{
	font-family: 'Raleway', sans-serif;
	position: absolute;
	bottom: 0;
	width:100%;
	background-color: #DE5842;
	font-size: 20px;
	text-align:center;
	-webkit-font-smoothing:antialiased;
}
.footer a{
	color: #BFE1BF;
	text-decoration: none;
}
.footer a:hover{
	color: #FCD059;
}