@import url(http://fonts.googleapis.com/css?family=Raleway:200);
.header{
background-color: #DE5842;
padding-bottom: 500px;
}
.user{
 width: 200px;
 height: 200px;
 background-image: url("/img/me2.jpg");
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 border: 2px solid #EDEDEA;
 margin-left: auto;
 margin-right: auto;
 background-position-x:14;
}
.title{
font-family: 'Raleway', sans-serif;
color: white;
text-align: center;
}